<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sharktank.apppill">

    <uses-permission
        android:name="android.permission.CAMERA"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:required="true" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_pill_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_pill_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppPill">
        <activity
            android:name="com.sharktank.apppill.SearchHomePage"
            android:exported="false" />
        <activity
            android:name="com.sharktank.apppill.HomePage"
            android:exported="false" />
        <activity
            android:name="com.sharktank.apppill.DisplayUserInfo"
            android:exported="false" />
        <activity
            android:name="com.sharktank.apppill.CameraHomePage"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity
            android:name="com.sharktank.apppill.LoginUser"
            android:exported="false" />
        <activity
            android:name="com.sharktank.apppill.RegisterUser"
            android:exported="false" />
        <activity
            android:name="com.sharktank.apppill.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
</manifest>